pyyaml
requests
pytest
tqdm
numpy
unidecode==1.0.23
regex
monty
pymatgen
gensim
chemdataextractor
pandas
pybliometrics==2.1.3
-e git://github.com/materialsintelligence/pybliometrics.git#egg=pybliometrics
pymongo
prompt_toolkit==1.0.14
dnspython
