pyyaml
yaml
requests
pytest
tqdm
numpy
unidecode==1.0.23
regex
monty
pymatgen
gensim
chemdataextractor
pandas
-e git://github.com/materialsintelligence/pybliometrics.git#egg=pybliometrics
pymongo
prompt_toolkit==1.0.14
dnspython
